.modelsSlider {
    position: relative;
    list-style: none;
    /* justify-content: space-evenly; */
    width: 88%;
    margin-left: 8%;
    margin-top: 3%;
  }
  
  .card {
    width: min-content;
    padding: 0;
    border: 0;
    background-color: white;
    margin: 0;
    display: inline-block;
    padding-top: 3%;
  }
  
  .cardImg {
    object-fit: cover;
    object-position: center;
    width: 19vw;
    height: 19vw;
  }
  
  .cardName {
    position: relative;
    display:list-item;
    width: fit-content;
    font-size: 1.7vw;
    font-weight: 400;
    margin: 0;
    padding-left: 2%;
  }
  
  .cardDesc {
    display: inline;
    position: relative;
    width: fit-content;
    font-size: 1vw;
    font-weight: 400;
    margin: 0;
    padding-top: 0%;
    padding-left: 2%;
  }
  
  .cardBill {
    display: inline;
    position: relative;
    width: fit-content;
    font-size: 1.1vw;
    font-weight: 700;
    margin: 0;
    padding-top: 0%;
    padding-left: 1%;
  }
  
  .cardSpan {
    display: inline;
    left: 100vw;
  }
  
  @media (max-device-width: 600px) {
    .modelsSlider {
      margin-left: 8%;
      width: 89.5%;
    }
    .cardImg {
      width: 39vw;
      height: 39vw;
    }
    .cardName {
      padding-top: 5%;
      font-size: 4vw;
    }
    .cardDesc {
      font-size: 2.3vw;
    }
    .cardBill {
      font-size: 2.4vw;
    }
  }