.cartTitle, .cartTitleEmpty {
    font-size: 3vw;
    font-weight: 400;
    margin: 0;
    margin-top: 2vw;
    margin-left: 10vw;
}
.cartTitleEmpty {
    margin-bottom: 25vh;
}

.cartItem {
    border: solid #D9D8D8 1px;
    width: 79vw;
    height: 10vw;
    padding: 1vw;
    margin-left: 7vw;
    margin-bottom: 2vw;
}

.cartRight {
    display: inline-block;
    width: 79vw;
}

.cartImg {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    display: inline-block;
    object-position: center;
    position: relative;
}

.cartName {
    position: relative;
    width: fit-content;
    font-size: 2vw;
    font-weight: 400;
    top: -12vw;
    left: 11vw;
}

.cartItemQuantity {
    position: relative;
    width: 6vw;
    top: -8vw;
    left: 11vw;
    margin: 0;
}

.cartItemQuantityText {
    position: relative;
    display: inline-block;
    width: 1vw;
    left: 7.6vw;
    top: -8.7vw; 
    font-weight: 400;
    margin: 0;
    font-size: 1.4vw;
}

.cartButtonRight, .cartButtonLeft {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 2vw;
    height: 2vw;
    top: -8.2vw;
    left: 8.2vw;
}

.cartButtonLeft {
    left: 1.8vw;
}

.cartSingleCost {
    position: relative;
    width: fit-content;
    font-size: 1.8vw;
    font-weight: 400;
    color: #D9D8D8;
    left: 64.5vw;
    top: -15vw;
}

.cartWholeCost {
    position: relative;
    width: fit-content;
    font-size: 2.5vw;
    font-weight: 400;
    margin: 0;
    left: 64.5vw;
    top: -16.5vw;
}

.cartTotal {
    font-size: 3vw;
    font-weight: 400;
    margin: 0;
    margin-left: 10vw;
}

.cartDelete {
    position: relative;
    width: 3vw;
    left: 76vw;
    top: -27.5vw; 
}