.item {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.item.active {
    transform: scale(1);
    
}

.itemContent {
    width: 45vw;
    height: 22vw;
    padding: 2vw;
    background-color: white;
}

.itemName {
    position: relative;
    margin: 0;
    font-weight: 400;
    font-size: 2.5vw;
}

.itemDesc {
    position: relative;
    margin: 0;
    margin-top: 1vw;
    font-weight: 400;
    font-size: 1.1vw;
    width: 18vw;
}

.itemBill {
    position: relative;
    margin: 0;
    margin-top: 3vw;
    font-weight: 400;
    font-size: 2.7vw;
}

.itemCart, .itemCartAdded {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-top: 2.5vw;
    width: 20vw;
    height: 2.5vw;
    border: 0;
    background-color: #1A1A1A;
    color: white;
    font-size: 1vw;
    font-weight: lighter;
}
.itemCartAdded {
    background-color: #DFDFDF;
    color: gray;
}

.itemLike {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-left: 0.7vw;
    top: 1vw;
    width: 2.6vw;
    height: 2.6vw;
}

.itemImg {
    position: relative;
    display: inline-block;
    top: -1vw;
    margin: 0;
    margin-left: 2vw;
    height: 19vw;
    width: 19vw;
    object-fit: cover;
    object-position: center;
}

.itemLeft {
    display: inline-block;
}

@media (max-device-width: 600px) {
    .itemContent {
        width: 74vw;
        height: 43vw;
        padding: 4vw;
    }
    .itemName {
        font-size: 6vw;
        top: -3vw;
    }
    .itemImg {
        width: 37vw;
        height: 37vw;
        top: 2vw;
        margin-left: 3vw;
    }
    .itemDesc {
        font-size: 2vw;
        width: 34vw;
        margin-top: 0;
        top: -1vw;
    }
    .itemBill {
        font-size: 6vw;
        margin-top: 0;
        top: 2vw;
    }
    .itemCart, .itemCartAdded {
        width: 26vw;
        height: 7vw;
        top: 1vw;
        font-size: 2.2vw;
        font-weight: 400;
    }
    .itemLike {
        width: 7.3vw;
        height: 7.31vw;
        top: 3.85vw;
        object-fit: cover;
        object-position: center;
    }
}